<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trailo</title>
</head>
<body>
    <iframe  
    src="https://www.youtube.com/embed/{{video_link}}?playlist={{video_link}}&loop=1&autoplay=1" width="100%" height="800px" allow="autoplay" frameborder="0" allowfullscreen>
    </iframe> 
    <div>
        <div>
            <h2>Description</h2>
            <p>{{ description | replace("(", "") | replace(")", "") }}</p>
        </div>
        
    </div>
</body>
</html>